<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Puppies in the Park is a Non-Profit Organization determined to 
  help all puppies that have been dislocated from their families.
  
  The "Puppies in the Park" event will be located at Hampton Park located
  in Beautiful and Historical Charleston, SC. 
  
  
  Through hosting events like Puppies in the Park, Dogs Days on the River
  and Summer Splash Down at the Beach, We are able to help reunite our four
  legged heros with their families.  If you are interested in adding to your
  family, please check with the 
  
  <a href="http://www.charlestonanimalsociety.org/">Charleston Animal Society</a>,
  <a href="http://www.aspca.org/about-us/partnership-communities/charleston-county-sc">Charleston ASPCA</a>, or
  <a href="http://www.summervillespca.org/">Franicis R. Willis SPCA.</a>
</p>

<p>
  
  
</p>