<% provide(:title, 'Contact') %>
<h1>Puppies in the Park </h1>
<h1>Organizational Chart</h1>
<tr> </tr>
<tr> </tr>
<tr> </tr>
<tr> 
<h3> President and CEO:  Valerie Sessions </h3> 
Contact Valerie at VSessions@CSU.edu



<h3> Vice President of Operations:  Mary Proctor </h3>
Contact Mary at MBProctor@CSUStudent.net 



<h3> Human Relations and Event Vice Preisdent:  Gregory Dorleus </h3>
Contact Greg at:  GRDorleus@CSUStudent.net
  

  
<h3> Chairman of the Board:  Thomas Finch </h3>
Contact Tom at :TRFinch@CSUStudent.net
  

