<% provide(:title, 'Contact') %>
<h1>Puppies in the Park </h1>
<h1>Organizational Chart</h1>
<tr> </tr>
<tr> </tr>
<tr> </tr>
<tr> 
<p><tr> President and CEO:  Valerie Sessions  </tr>
<tr> Contact Valerie at VSessions@CSU.edu  </tr></p>

<tr></tr>  
<tr></tr> 
<tr></tr>
<p><tr> Vice President of Operations:  Mary Protor </tr>
<tr> Contact Mary at MBProctor@CSUStudent.net  </tr></p>
<tr></tr>  
<tr></tr>  
<tr></tr>
<p><tr> Human Relations and Event Vice Preisdent:  Gregory Dorleus</tr>
<tr> Contact Greg at:  GRDorleus@CSUStudent.net</tr></p>
<tr></tr>  
<tr></tr>
<tr></tr>  
<p><tr> Chairman of the Board:  Thomas Finch</tr>
<tr> Contact Tom at :TRFinch@CSUStudent.net</tr></p>
  
<tr>  <a href="http://www.railstutorial.org/#contact">contact page</a>. </tr>
