<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  To receive help in locating your lost pet or to add to your family, please
  contact the 
   <a href="http://www.charlestonanimalsociety.org/">Charleston Animal Society</a>,
  <a href="http://www.aspca.org/about-us/partnership-communities/charleston-county-sc">Charleston ASPCA</a>, or
  <a href="http://www.summervillespca.org/">Franicis R. Willis SPCA</a>
</p>

<p>
  For assistance or questions concerning this website, please contact Tom @ TRFinch@CSUStudent.net
</p>