<div class="center jumbotron">
  <h1>Puppies in the Park</h1>

  <h2>
    This is the home page for the Non-Profit Organization determined to 
      help all puppies that have been dislocated from their families.  Please
      visit our event page to learn more about the 5k fun run being held on
      January 7th 2015.  To register for this event, please click the link 
      below and help us help our friends, our heros, our puppies!
  </h2>
  
  <%= link_to "Sign up now and save a friend!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<center><%= link_to image_tag("Scan_Pic0001.jpg") %></center>