<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<center><%= link_to image_tag("mile run.jpg") %></center>
<p><b>Directions:
  </b></p>
<p><b>  From North of Charleston:</b> </p>
<p>  Take Hwy 17 South, cross the Ravenel Bridge. </p>
<p>  Take the Meeting St exit.  Turn left onto Meeting St.  Take first </p>
<p>  right onto Huger St.  Turn right onto Rutledge Ave.  Take the </p>
<p>  second left onto Clevland St.  Take the first right onto </p>
<p>  Mary Murray Dr.  The park will be on your left. </p>
<p></p>
<p><b>From West of Charleston:</b></p>
<p>  Take I-26 East to the end.  Veer to the left for Meeting St</p>
<p>  Turn left onto Meeting St.  Take first right onto Huger.  Take first </p>
<p>  right onto Huger St.  Turn right onto Rutledge Ave.  Take the second </p>
<p>  left onto Clevland St.  Take the first right onto Mary Murray Dr.  </p>
<p>  The park will be on your left. </p>
<p></p>
<p><b>From South of Charleston</b></p>
<p>  Take US-17 North to Charleston. Turn right onto Bogard St</p>
<p> Take second left onto Ashley Ave.  Continue onto Mary Murray Dr. </p>
<p>  Park will be on your left.</p>
