<footer class="footer">
  <small>
     <a href=" something here footer html"> footer html in layout</a></a>
     <a href="not important right now"> something</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      
    </ul>
  </nav>
</footer>